*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*font*/
.lusitana-regular {
    font-family: "Lusitana", serif;
    font-weight: 400;
    font-style: normal;
}
  
.lusitana-bold {
    font-family: "Lusitana", serif;
    font-weight: 700;
    font-style: normal;
}

.montserrat-regular{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*<weight>: Use a value from 100 to 900*/

.work-sans-regular {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*////////////////////////////////*/  

body{
    background-image: url("https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_1280.jpg");
    background-repeat:no-repeat;
    background-size: contain;
    background-color: rgba(234, 254, 255, 0.534);
    background-blend-mode: overlay;
}

/*header*/
#header{
    background-color: rgb(247, 247, 247);
    padding: 4vh 0vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 10vh;
    /*border: 0.5px solid black;*/
}

#web-title{
    display: flex;
    justify-content: start;
    align-items: center;
    min-width: 25%;
    margin: 0% 5%;
    /*border: 1px solid black;*/
}

#web-title > #web-icon{
    display: block;
    font-size: 2.3em;
}

#web-title > #website-name{
    font-size: 2em;
}

#navigation-item{
    min-width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
    /*border: 1px solid red;*/
}

#navigation-item > ul{
    display: flex;
    min-width: 100%;
    justify-content: space-around;
    list-style-type: none;
    /*border: 1px solid black;*/
}

#navigation-item > ul .nav-link{
    color: black;
    font-size: 1.2em;
    text-decoration-line: none;
}
/*///////////////////////*/

/*//////////////////jumbotron///////////////////*/

#jumbotron{
    margin: 20vh 5% 5vh 5%;
    padding: 5vh 0vh;
}

#jumbotron > #heading{
    max-width: 60%;
    font-size: 4.5em;
    font-weight: 500;
}

#jumbotron > #subtext{
    margin: 2% 0%;
    padding: 0% 0% 2% 0%;
    max-width: 70%;
    font-size: 1.5em;
    color: rgb(20, 20, 20);
    line-height: 1.5;
    font-weight: 500;
}

#jumbotron > #jumbotron-button{
    background-color: #000000;
    color: white;
    border-radius: 10px;
    padding: 1.5% 1%;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
}
/*///////////////////////*/

/*image grid*/
#image-grid-container{
    background-color: whitesmoke;
    margin: 15vh 0vh 0vh 0vh;
    min-height: 130vh;
    display: flex;
    flex-wrap: wrap;

}

#image-grid-container > .grid-item{
    flex-basis: 33.33%;
    flex-grow: 1;
    max-height: 100%;
    max-width: 33.33%;
    object-fit: cover;
}

/*///////////////////*/

/*platform summary*/

#platform-summary{
    background-color: rgb(247, 247, 247);
    padding: 20vh 5%;
}

#platform-summary > h2{
    font-size: 2.5em;
    max-width: 80%;
    font-weight: 500;
}

/*///////////////////*/

/*random image display*/
#random-img-display{
    border: 1px solid black;
    min-height: 50vh;
}

#random-img-display > img{
    display: block;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 50% 95%;
}
/*/////////////////*/

/*////card////////////*/
#card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 80vh;
}

#card > .card-section{
    flex-grow: 1;
    flex-basis: 50%;
}

#card > #card-text{
    max-width: 50%;
    padding: 5vh 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#card-text > #card-heading{
    font-weight: 600;
    font-size: 2.5em;
}

#card-text > #card-subtext{
    font-size: 1.1em;
    line-height: 1.2;
}

#card-text > #card-button{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 16px 8px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 500;
}

#card > #card-image{
    max-width: 50%;
    max-height: 100%;
    display: flex;
    justify-content: center;
}

#card-image > img{
    float: 1;
    width: 100%;
    height: 80vh;
    object-fit: cover;
}