*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*font*/
.lusitana-regular {
    font-family: "Lusitana", serif;
    font-weight: 400;
    font-style: normal;
}
  
.lusitana-bold {
    font-family: "Lusitana", serif;
    font-weight: 700;
    font-style: normal;
}

.montserrat-regular{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*<weight>: Use a value from 100 to 900*/

.work-sans-regular {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*////////////////////////////////*/  

body{
    background-image: url("https://images.pexels.com/photos/1267320/pexels-photo-1267320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.61);
    background-blend-mode: overlay;
}

/*header*/
#header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 10vh;
    /*border: 0.5px solid black;*/
}

#web-title{
    display: flex;
    justify-content: start;
    align-items: center;
    min-width: 25%;
    margin: 0% 5%;
    /*border: 1px solid black;*/
}

#web-title > #web-icon{
    display: block;
    font-size: 2.3em;
}

#web-title > #website-name{
    font-size: 2em;
}

#navigation-item{
    min-width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
    /*border: 1px solid red;*/
}

#navigation-item > ul{
    display: flex;
    min-width: 100%;
    justify-content: space-around;
    list-style-type: none;
    /*border: 1px solid black;*/
}

#navigation-item > ul .nav-link{
    color: black;
    font-size: 1.2em;
    text-decoration-line: none;
}
/*///////////////////////*/

/*//////////////////jumbotron///////////////////*/

#jumbotron{
    margin: 20vh 5% 5vh 5%;
    padding: 5vh 0vh;
}

#jumbotron > #heading{
    max-width: 60%;
    font-size: 4.5em;
    font-weight: 500;
}

#jumbotron > #subtext{
    margin: 2% 0%;
    padding: 0% 0% 2% 0%;
    max-width: 70%;
    font-size: 1.5em;
    color: rgb(43, 43, 43);
    line-height: 1.5;
}

#jumbotron > #jumbotron-button{
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1.5% 1%;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
}
/*///////////////////////*/
