*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*font*/
.lusitana-regular {
    font-family: "Lusitana", serif;
    font-weight: 400;
    font-style: normal;
}
  
.lusitana-bold {
    font-family: "Lusitana", serif;
    font-weight: 700;
    font-style: normal;
}

.montserrat-regular{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  /*<weight>: Use a value from 100 to 900*/
  
.work-sans-regular {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/*//////////////////////////*/
body{
    flex-direction: column;
}

#header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 10vh;
    /*border: 0.5px solid black;*/
    background-color: #04030f;
}

#web-title{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    margin: 0% 5%;
    /*border: 1px solid black;*/
}

#web-title > #web-icon{
    display: block;
    font-size: 2.3em;
    color: white;
}

#web-title > #website-name{
    font-size: 2em;
    color: white;
}

#top-nav{
    min-height: 5vh;
    display: flex;
    justify-content: center;
    /*border: 1px solid black;*/
}

#top-nav > ul{
    min-width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /*border: 1px solid red;*/
}

#top-nav > ul li{
    min-height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    /*border: 1px solid black;*/
    font-weight: 600;
}

#top-nav > ul .top-nav-item{
    /*border: 1px solid blue;*/
    padding: 20px 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    flex-grow: 1;
}

#top-nav > ul .top-nav-item:hover{
    background-color: #09071b;
    color: white;
}

#main-content{
    min-height: 85vh;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

#main-content > #side-bar {
    min-width: 12%;
    padding: 3% 0%;
    background-color: #f4feff;
}

#side-bar > ul{
    list-style-type: none;
}

#side-bar > ul li{
    /*border: 1px solid black;*/
}

li > .side-bar-item{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 10%;
    border-bottom: 1px solid #09071b;
}

#side-bar > ul .side-bar-item:hover{
    background-color: #09071b;
    color: white;
}
/*/////////////////////////////////*/
#main-content > #recipe-content{
    padding: 1% 2%;
}

#recipe-content > #article-title{
    font-size: 2.3em;
    text-align: center;
    padding: 2% 0%;
}

#recipe-content > #image-container{
    display: flex;
    justify-content: center;
}

#recipe-content > #food-overview{
    padding: 20px 0%;
    font-size: 18px;
}

#recipe-content > #ingredient{
    padding: 10px 2%;
    font-size: 18px;
}

#recipe-content > #ingredient h3{
    padding: 15px 0%;
}

#recipe-content > #instructions{
    padding: 10px 2%;
    font-size: 18px;
}

#recipe-content > #instructions h3{
    padding: 15px 0%;
}

#recipe-content > #how-to-serve{
    padding: 10px 0%;
    font-size: 18px;
}

#recipe-content > #video-tutorial h3{
    padding: 10px 0%;
    font-size: 2em;
}

/*///////*/
/*/////footer///*/

#footer{
    padding: 5vh 5%;
    background-color: #06051a;
    color: #fffbff;
}

#footer > #footer-title{
    font-weight: 600;
    font-size: 2.3em;
}

#footer > #footer-subtext{
    padding: 1em 0%;
}

#footer > #social-media{
    padding: 0.5em 0em;
}

#yt-icon, #twitter-icon, #ig-icon{
    width: 40px;
    height: 40px;
}
/*//////////////////*/